<div class="container-fluid mb-5">
  <h1>Share Estimation</h1>
  <form #companyForm="ngForm">
    {{companyForm.value | json}}

    <br/>

    {{company | json}}

    <div class="form-group">
    <label>Name</label><input type="text" class="form-control" name="company-name" ngModel>
    </div>

    <div class="form-group">
      <label>Price(Current)</label><input type="text" class="form-control" name="price" ngModel>
    </div>

    <div class="form-group">
      <label>Balance</label><input type="text" class="form-control" name="balance" ngModel>
    </div>

    <div class="form-group">
      <label>Cash Bonus(Expected)</label><input type="text" class="form-control" name="cash-bonus" ngModel>
     </div>

    <div class="form-group">
      <label>Share Bonus(Expected)</label><input type="text" class="form-control" name="share-bonus" ngModel>
    </div>

    <div class="form-group">
      <label>Duration (years)</label><input type="text" class="form-control" name="time" ngModel>
    </div>

    <!-- <div ngModelGroup="address">

      <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" name="state" ngModel>
      </div>

      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
    </div>
    </div> -->

    <button class="btn btn-primary" type="submit">Check</button>
  </form>
</div>
================================================================
<div class="container-fluid mb-5">
  <h1>Share Estimation</h1>
  <form #companyForm="ngForm" (ngSubmit)="onSubmitButtonClick()" >
    {{companyForm.value | json}}

    <br/>

    {{company | json}}

    <div class="form-group">
    <label>Name</label><input type="text" class="form-control" name="company-name" [ngModel]="company.name">
    </div>

    <div class="form-group">
      <label>Price(Current)</label><input type="text" class="form-control" name="price" [ngModel]="company.price">
    </div>

    <div class="form-group">
      <label>Balance</label><input type="text" class="form-control" name="balance" ngModel>
    </div>

    <div class="form-group">
      <label>Cash Bonus(Expected)</label><input type="text" class="form-control" name="cash-bonus" [ngModel]="company.expCashBonus">
     </div>

    <div class="form-group">
      <label>Share Bonus(Expected)</label><input type="text" class="form-control" name="share-bonus" [ngModel]="company.expShareBonus">
    </div>

    <div class="form-group">
      <label>Duration (years)</label><input type="text" class="form-control" name="time" ngModel>
    </div>

    <!-- <div ngModelGroup="address">

      <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" name="state" ngModel>
      </div>

      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
    </div>
    </div> -->

    <button class="btn btn-primary" type="submit">Check</button>
  </form>
</div>
