<h1>Share Estimation</h1>
<table class="table table-striped">
<thead>
<tr>
<th>Year</th>
<th>Cash Bonus</th>
<th>Share Bonus</th>
<th>Total Share</th>
</tr>
</thead>

<tbody
<tr *ngFor="let info of informations">
<td><strong>{{info.year}}</strong></td>
<td><strong>Rs. {{info.cashBonus | number}}</strong></td>
<td><strong>{{info.bonusShare | number}}</strong></td>
<td><strong>{{info.totalShare | number}}</strong></td>
</tr>
</tbody>
</table>
<app-company-summary
[totalCashBonus]="totalCashBonus"
[totalShareNetworth]="totalShareNetworth">
</app-company-summary>
